<!doctype html>
<html class="no-js" lang="ar">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
   
    <meta name="author" content="Themeholy">
    <meta name="description" content=" أكاديمية التدريب الرياضي">
    <meta name="keywords" content="أكاديمية التدريب الرياضي">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="/RequestManagement/src/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/RequestManagement/src/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/RequestManagement/src/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/RequestManagement/src/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/RequestManagement/src/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/RequestManagement/src/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/RequestManagement/src/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/RequestManagement/src/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/RequestManagement/src/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/RequestManagement/src/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/RequestManagement/src/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/RequestManagement/src/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/RequestManagement/src/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/RequestManagement/src/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/RequestManagement/src/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/RequestManagement/src/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/RequestManagement/src/assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/RequestManagement/src/assets/css/magnific-popup.min.css">
    <!-- Swiper Slider -->
    <link rel="stylesheet" href="/RequestManagement/src/assets/css/swiper-bundle.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/RequestManagement/src/assets/css/style.css">
  
</head>
<body dir="ltr"> 

    <div class="cursor"></div>
    <div class="cursor2"></div>
    <div class="sidemenu-wrapper">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget woocommerce widget_shopping_cart">
                <h3 class="widget_title">عربة التسوق</h3>
                <div class="widget_shopping_cart_content">
                    <ul class="woocommerce-mini-cart cart_list product_list_widget">
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_1.jpg" alt="صورة العربة">حاسوب ألعاب</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>940.00</span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_2.jpg" alt="صورة العربة">هاتف ذكي Vivo V9</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>899.00</span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_3.jpg" alt="صورة العربة">قرص فلاش SanDisk</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>756.00</span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_4.jpg" alt="صورة العربة">بطارية شحن ذكية</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>723.00</span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_5.jpg" alt="صورة العربة">ساعة ذكية أبل</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>1080.00</span>
                            </span>
                        </li>
                    </ul>
                    <p class="woocommerce-mini-cart__total total">
                        <strong>الإجمالي:</strong>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>4398.00</span>
                    </p>
                    <p class="woocommerce-mini-cart__buttons buttons btn-wrap">
                        <a href="cart.html" class="th-btn wc-forward">عرض العربة</a>
                        <a href="checkout.html" class="th-btn checkout wc-forward">الدفع</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#">
            <input type="text" placeholder="ما الذي تبحث عنه؟">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>
    <!--==============================
   
	منطقة الرأس
==============================-->
    <header class="th-header header-layout1 sticky-top">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-links">
                            <ul>
                                <li><i class="fas fa-map-location"></i> المملكة العربية السعودية - الرياض - طريق الأمير عبد العزيز بن مساعد بن جلوى</li>
                                <li><i class="fas fa-phone"></i><a href="tel:+966566472243">+966566472243</a></li>
                                <li><i class="fas fa-envelope"></i><a href="mailto:info@capitalsystemsit.com">info.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-social">
                            <span class="social-title">تابعنا على : </span>
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a class="icon-masking" href="index.html"><span data-mask-src="assets/img/sports_academy_logo.svg" class="mask-icon"></span><img style="max-height: 60px !important; width: auto !important;" src="assets/img/sports_academy_logowhite.png" alt="أكاديمية التدريب الرياضي"></a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li><a href="/about" style="font-size: 24px !important">من نحن</a></li>
                                    <li><a href="/user-login"*ngIf="!isUserLoggedIn()" style="font-size: 24px !important">تسجيل</a></li>
                                    <li ><a href="/request-order" *ngIf="isUserLoggedIn()" style="font-size: 24px !important"> تقديم طلب</a></li> 
                                </ul>
                            </nav>
                           
                        </div>
                        
                    </div>
                </div>
                <div class="logo-bg"></div>
            </div>
        </div>
    </header>
    <main>
  <router-outlet></router-outlet>
</main>

    <!--==============================


	منطقة التذييل
==============================-->
    <footer class="footer-wrapper footer-layout1">
        <div class="footer-top">
            <div class="logo-bg"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <div class="footer-logo" style="width: 66%;">
                            <a class="icon-masking" href="index.html"><span  data-mask-src="assets/img/accadmic.png" class="mask-icon"></span><img  src="assets/img/accadmic.png" alt="أكاديمية التدريب الرياضي"></a>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="footer-contact-wrap">
                            <div class="footer-contact p-3">
                                <div class="footer-contact_icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="media-body">
                                    <span class="footer-contact_text">اتصل بنا بسرعة:</span>
                                    <a href="tel:+966566472243" class="footer-contact_link">+966566472243</a>
                                </div>
                            </div>
                            <div class="footer-contact p-3">
                                <div class="footer-contact_icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="media-body">
                                    <span class="footer-contact_text">راسلنا على:</span>
                                    <a href="mailto:info@capitalsystemsit.com" class="footer-contact_link">info.com</a>
                                </div>
                            </div>
                            <div class="footer-contact p-3">
                                <div class="footer-contact_icon">
                                    <i class="fas fa-location-dot"></i>
                                </div>
                                <div class="media-body">
                                    <span class="footer-contact_text">زيارة الموقع:</span>
                                    <a href="https://g.co/kgs/8LHEVBo" class="footer-contact_link">المملكة العربية السعودية - الرياض - طريق الأمير عبد العزيز بن مساعد بن جلوى</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xxl-6 col-xl-4">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">عن الشركة</h3>
                            <div class="th-widget-about">
                                <p class="about-text">نحن أكاديمية متخصصة في تسهيل حضور الدورات التدريبية للرياضيين المشتركين في الأندية الرياضية، من خلال منصة متكاملة تتيح لهم الوصول إلى برامج تدريبية عالية الجودة، يقدمها نخبة من المدربين المعتمدين في مختلف المجالات الرياضية.
نسعى إلى تمكين الرياضيين من تطوير مهاراتهم وتحقيق أهدافهم، عبر تنظيم مواعيد التدريب وتوفير تجربة تعليمية احترافية وسهلة الوصول.</p>
                                <div class="th-social">
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-md-6 col-xxl-4 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">خدمات تقنية المعلومات</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="service-details.html">تطوير الويب</a></li>
                                    <li><a href="service-details.html">تطوير الأعمال</a></li>
                                    <li><a href="service-details.html">إدارة المنتجات</a></li>
                                    <li><a href="service-details.html">تصميم UI/UX</a></li>
                                    <li><a href="service-details.html">خدمات السحابة</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">أحدث المنشورات</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/blog/recent-post-2-1.jpg" alt="صورة المدونة"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">طلبات لا تشبع قد تجمع الطاقة.</a></h4>
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>21 يونيو 2024</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/blog/recent-post-2-2.jpg" alt="صورة المدونة"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">مدير إقليمي بإدارة زمنية محدودة.</a></h4>
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>22 يونيو 2024</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="shape-left">
            <img src="assets/img/shape/footer_shape_2.svg" alt="شكل">
        </div>
        <div class="shape-right">
            <div class="particle-1" id="particle-5"></div>
        </div>
    </footer>
    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <script src="/RequestManagement/src/assets/js/vendor/jquery-3.7.1.min.js"></script>
    <!-- Swiper Slider -->
    <script src="/RequestManagement/src/assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <script src="/RequestManagement/src/assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/RequestManagement/src/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="/RequestManagement/src/assets/js/jquery.counterup.min.js"></script>
    <!-- Circle Progress -->
    <script src="/RequestManagement/src/assets/js/circle-progress.js"></script>
    <!-- Range Slider -->
    <script src="/RequestManagement/src/assets/js/jquery-ui.min.js"></script>
    <!-- Isotope Filter -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/RequestManagement/src/assets/js/isotope.pkgd.min.js"></script>
    <!-- Tilt JS -->
    <script src="/RequestManagement/src/assets/js/tilt.jquery.min.js"></script>
    <!-- gsap -->
    <script src="/RequestManagement/src/assets/js/gsap.min.js"></script>
    <!-- ScrollTrigger -->
    <script src="/RequestManagement/src/assets/js/ScrollTrigger.min.js"></script>
    <script src="/RequestManagement/src/assets/js/smooth-scroll.js"></script>
    <!-- Particles JS -->
    <script src="/RequestManagement/src/assets/js/particles.min.js"></script>
    <script src="/RequestManagement/src/assets/js/particles-config.js"></script>
    <!-- Main Js File -->
    <script src="/RequestManagement/src/assets/js/main.js"></script>
</body>
</html>